.pefe-icon-rotate-45 {
    -webkit-transform: rotate(45deg);
    transform        : rotate(45deg);
}

.pefe-icon-rotate-45-alt {
    -webkit-transform: rotate(-45deg);
    transform        : rotate(-45deg);
}